* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  body{
      margin: 0%;
      padding: 0;
      color: black;
  }

#background{
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
}


h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

body > div{
text-align: center;
}


body > div > button:nth-child(2):hover{
    background-color:lightblue;
      font-weight: bold;
}
body > div:nth-child(1){
 
    padding: 30px 40px;
    color: white;
    text-align: center;
}


body > div > button:nth-child(3):hover{
    background-color: #bbb;
}

body > div:nth-child(3){
    margin-top: 50px;
    height: auto;
   margin: auto;
   height: 500px; 
}

body > div:nth-child(2){
    margin-bottom: 40px;
}

#input{
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin: auto;
}


li{
    list-style: none;
    padding: 10px;
    margin:auto;
    width: 80%;
    margin-bottom: 15px;
    cursor: pointer;
    background: #eee;
    font-size: 24px;
    background-color: black;
}

li:nth-child(odd){
    background-color: grey;
}

.close{
    float: right;
}
.close:hover{
    color: black;
    font-weight: bold;
}
  


ul li:hover {
    background: rgb(36, 34, 34);
  }


.btn1{
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}